<style>
body
{
  background: url('/assets/w7error.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: none;
}
</style>

<body>
</body>
