<style>
body
{
  cursor: none;
  font-family:"Segoe UI Light", "Segoe UI", Arial;
  font-weight: lighter;
}

.content
{
  width:700px;
  margin:10% auto;
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}
</style>

<body bgcolor="#0086ac" scroll="no">
  <div class="content">
    <font size="4" color="#FFFFFF">
      <p style="font-size:100pt; margin:0; padding-bottom:20pt">:(</p>
      <p style="font-size:26pt; margin:0; padding:0">PC에 문제가 발생하여 다시 시작해야 합니다. 일부<br />오류 정보를 수집하고 있습니다. 그런 다음 자동으로
      <br> 다시 시작합니다.<br></p><br>
      <img src="/assets/qr.png" style="float:left;"/>
      <div style="float:left;margin-left:30px;width:65%;">
        <p style="font-size:14pt; color:#fff; margin-top:-30px; padding:0;line-height:32px;"><br />
          이 문제와 가능한 수정 사항에 대한 자세한 내용은<br>
          http://windows.com/stopcode
          를 참조하세요<br>
          <br>지원 담당자에게 연락하는 경우 다음 정보를 제공하세요.<br>
          중지 코드: SYS_EXCEPTION_PONIES_NOT_HANDLED</p>
      </div>
    </div>
  </font>
</body>
