<html>
<head>
	<title>쉬엄쉬엄</title>
</head>
<body>
	<h1>쉬엄쉬엄</h1>
	<a href="/fake/osx">OSX</a>
	<a href="/fake/window7">Window 7</a>
	<a href="/fake/window8">Window 8</a>
	<a href="/fake/window10">Window 10</a>
</body>
</html>
