<h1>Fake#index</h1>
<a title = "window7" href="fake/window7">
  <p> window7 </p>
</a>
<a title = "window8"8 href="fake/window8">
  <p> window8 </p>
</a>
<a title = "window10" href="fake/window10">
  <p> window10 </p>
</a>
<a title = "osx" href="fake/osx">
  <p> osx </p>
</a>

<p>Find me in app/views/fake/index.html.erb</p>
