<script>
  $(function()
  {
    $(document).keyup(function(e)
    {
      switch(e.keyCode)
      {
        case 32 : open('errorx','_self'); break;
      }
    });
  });
</script>

<style>
body
{
	background:  #cccccc no-repeat center center fixed;
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  vertical-align:middle;
  text-align:center;
  z-index: -1;
  margin:0;
  padding:0;
  cursor: url(http://fakeupdate.net/assets/img/gQyFbtU.png), auto;
}

.Centerin
{
  vertical-align:middle;
  position: absolute;
  top: 50%;
  height: 70px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  width:550px;
  margin-top: -5%;
  font-family:Segoe UI, Arial;
  font-size:23px;
  color:#fff;
  font-weight:normal;
  text-align:center;
  user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;
}

.centeragain
{
  width:550px;
  margin:0px auto;
  text-align:left;
}
</style>

<body>
  <div style="text-align:center;display:block;position:absolute;min-width:100%; min-height:100%;margin:0;padding:0;">
    <div class="centeragain">
      <div class="Centerin">
        <center>
          <img src="/assets/osxlogo.png" /><br><br><br>
          <img src="/assets/osxload.gif" />
      </div>
    </div>
  </div>
</body>
